.topmenubar {
    background-color: #333232;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.topmenubar h1 {
    color: #cac844;
    text-align: left;
    font-weight: 650;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.topmenubar button {
    text-align: right;
}